<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DataDriven Approach" verbose="1">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.learning.listeners.CustomListeners" />
	</listeners>



	<test name="Bank Manager Login Test">
		<classes>
			<class name="com.learning.testcases.BankManagerLoginTest" />
		</classes>
	</test>
	<test name="Add Customer Test">
		<classes>
			<class name="com.learning.testcases.AddCustomerTest" />
		</classes>
	</test>
	<test name="Open Account Test">
		<classes>
			<class name="com.learning.testcases.OpenAccountTest" />
		</classes>
	</test>
	


</suite>
